
.navbar {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navbar-links{
    display:flex;
    gap: 20px;
    
}

.navbar-links .nav-link{
    padding: 10px;
    color: rgb(0, 0, 0);
    
}


.nav-link:hover {
    background-color: #535bf29f;
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}